<div id="main">
  <div id="search-top">
    <div class="row">
      <div class="col-md-12">
        <%= image_tag 'people/p16.jpg', class: "img-responsive"%>
      </div>
    </div>
  </div>
  <div id="search-down">
    <div class="row">
      <div class="col-md-12">
        <% @posts.each do |post| %>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFgIIopBogLXCey9WtcwT5A_ONlu3rnbg&callback=initMap"></script>
        <div id="map" style="width: 100%; height: 400px">
          <script>
            $(window).on('load', function () {
              // Map variables
              var location = {lat: <%= post.latitude %>, lng: <%= post.longitude %>};
              // var myLatlng = {
              //   lat: 40.712742,
              //   lng: -74.005966


              // 1. Render Google Map
              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: location,
                styles: [
                  {
                    elementType: 'geometry',
                    stylers: [
                      {
                        color: '#242f3e'
                      }
                    ]
                  }, {
                    elementType: 'labels.text.stroke',
                    stylers: [
                      {
                        color: '#242f3e'
                      }
                    ]
                  }, {
                    elementType: 'labels.text.fill',
                    stylers: [
                      {
                        color: '#746855'
                      }
                    ]
                  }, {
                    featureType: 'administrative.locality',
                    elementType: 'labels.text.fill',
                    stylers: [
                      {
                        color: '#d59563'
                      }
                    ]
                  }, {
                    featureType: 'poi',
                    elementType: 'labels.text.fill',
                    stylers: [
                      {
                        color: '#d59563'
                      }
                    ]
                  }, {
                    featureType: 'poi.park',
                    elementType: 'geometry',
                    stylers: [
                      {
                        color: '#263c3f'
                      }
                    ]
                  }, {
                    featureType: 'poi.park',
                    elementType: 'labels.text.fill',
                    stylers: [
                      {
                        color: '#6b9a76'
                      }
                    ]
                  }, {
                    featureType: 'road',
                    elementType: 'geometry',
                    stylers: [
                      {
                        color: '#38414e'
                      }
                    ]
                  }, {
                    featureType: 'road',
                    elementType: 'geometry.stroke',
                    stylers: [
                      {
                        color: '#212a37'
                      }
                    ]
                  }, {
                    featureType: 'road',
                    elementType: 'labels.text.fill',
                    stylers: [
                      {
                        color: '#9ca5b3'
                      }
                    ]
                  }, {
                    featureType: 'road.highway',
                    elementType: 'geometry',
                    stylers: [
                      {
                        color: '#746855'
                      }
                    ]
                  }, {
                    featureType: 'road.highway',
                    elementType: 'geometry.stroke',
                    stylers: [
                      {
                        color: '#1f2835'
                      }
                    ]
                  }, {
                    featureType: 'road.highway',
                    elementType: 'labels.text.fill',
                    stylers: [
                      {
                        color: '#f3d19c'
                      }
                    ]
                  }, {
                    featureType: 'transit',
                    elementType: 'geometry',
                    stylers: [
                      {
                        color: '#2f3948'
                      }
                    ]
                  }, {
                    featureType: 'transit.station',
                    elementType: 'labels.text.fill',
                    stylers: [
                      {
                        color: '#d59563'
                      }
                    ]
                  }, {
                    featureType: 'water',
                    elementType: 'geometry',
                    stylers: [
                      {
                        color: '#17263c'
                      }
                    ]
                  }, {
                    featureType: 'water',
                    elementType: 'labels.text.fill',
                    stylers: [
                      {
                        color: '#515c6d'
                      }
                    ]
                  }, {
                    featureType: 'water',
                    elementType: 'labels.text.stroke',
                    stylers: [
                      {
                        color: '#17263c'
                      }
                    ]
                  }
                ]
              });
              // 2. Add marker
              var marker = new google.maps.Marker({position: location, map: map, title: "Click To See Address"});
              // 3. Add Info Window
              var infowindow = new google.maps.InfoWindow({content: addressString});

              // Show info window when user clicks marker
              marker.addListener('click', function () {
                infowindow.open(map, marker);
              });

              // 4. resize Function
              google.maps.event.addDomListener(window, 'resize', function () {

                var center = map.getCenter();
                google.maps.event.trigger(map, 'resize');
                map.setCenter(center);
              });

              // 5. Show the picture
              var infoWindow = new google.maps.InfoWnidow({
                content: '<div id="content"><%= image_tag post.image.url %></div>'
                });
                infoWindow.open(map, maker);

            });
          </script>
      </div>
      <% end %>
    </div>
  </div>
</div>
