<div class="container-fluid">
	<div class="users-list">
		<div class="row">
			<div class="col-md-12">

				<div class="page-top-pic">
					<div class="row">
						<div class="col-md-12">

							<%= image_tag 'people/p16.jpg', class: "img-responsive"%>

						</div>

					</div>
				</div>
				<div class="row-fluid">
					<div class="col-md-12">
						<div class="snap-lists">
							<div class="vertical-heading text-center">
								<h1>SNAP</h1>
							</div>
							<div class="row">
								<!-- <div class="bxslider"> -->
									<% @posts.each do |post| %>
										<div class="col-md-2">
										<%= link_to (image_tag post.image.to_s), posts_path, class: "img-responsive"%>
										 <div class="list-item-overlay"> <div class="list-item-details text-center"> <h3><%= post.location %> |  <%= link_to post.name, posts_path(post.id) %></h3> </div> </div>
										 </div>
									<% end %>
								<!-- </div> -->

							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

	$(document).ready(function () {
		$('.bxslider').bxSlider({
			auto: true, // 自動スライド
			speed: 1000, // スライドするスピード
			moveSlides: 1, // 移動するスライド数
			pause: 3000, // 自動スライドの待ち時間
			maxSlides: 6, // 一度に表示させる最大数
			slideWidth: 250, // 各スライドの幅
			randomStart: true, // 最初に表示するスライドをランダムに設定
			autoHover: true // ホバー時に自動スライドを停止
		});
	});
</script>
