
	<div class="content-box-lg">
		<div class="container">
			<div class="users-list">
				<div class="row">
						<div class="col-md-12">
							<div class="vertical-heading text-center">
								<h1>SNAP</h1>
							</div>
							<div class="row">
								<div class="col-md-12">
									
									<% @posts.each do |post| %>
									<%= image_tag post.image.to_s, class: "img-responsive"%>
									<% end %>
								</div>
							</div>
						</div>
				 </div>
				</div>

			</div>
		</div>
