
	<div class="content-box-lg">
		<div class="container-fluid">
			<div class="user-photo">
				<div class="row">
						<div class="col-md-12">
							<iframe src="//coub.com/embed/sm8dy?muted=false&autostart=false&originalSize=false&startWithHD=false" allowfullscreen frameborder="0" width="640" height="360" allow="autoplay"></iframe>
						</div>
				 </div>
				</div>

			</div>
		</div>
	
