<div id="sign_in-form">
	<div class="content-box-lg">
		<div class="container">
			<div class="user-photo">
				<div class="row">
					<div class="col-md-12 text-center">
            <h1>Editing Post</h1>

            <%= render 'form', post: @post %>

            <%= link_to 'Show', @post %> |
            <%= link_to 'Back', posts_path %>

				</div>
			</div>
		</div>
	</div>
</div>
</div>
