<div id="log_in-form">
  <div class="content-box-lg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4 text-center">
          <div class="create-new-post">
            <h1>New Post</h1>

            <%= render 'form', post: @post %>

            <%= link_to 'Back', posts_path %>

        </div>
      </div>
    </div>
  </div>

</div>
