@import "bootstrap";
@import "toastr";


/*-----------------------------
            Top Page
------------------------------*/
.jumbotron {
  background-color: #fff;
}
.card-body {
  padding: 0;
}

/*-----------------------------
            Footer
------------------------------*/
footer {
  background-color: #000;
  margin-bottom: 0;
}
footer p {
  margin-bottom: 0;
}
