@import "bootstrap";
@import "toastr";
@import "bxslider";
/*===================================
  Default Theme
  -----------------------------------
  Fonts:
  Top:      font-family: 'Cinzel', serif;
  Heading:  font-family: 'Old Standard TT', serif;
  h1h2h3:  .photo-title h2
  p:        font-family: 'Quicksand', sans-serif;
  -----------------------------------
  Colors:
      Moon Yellow:        #f4c613
      Gray:               #212226
      white Smoke:        #f4f4f4
      white:              #fff
      Black:              #000
      Dark gray :         #36353c;
===================================*/
/*===================================
              Html, body
===================================*/
html, body {
  height: 100%;
}

body {
  color: #212226;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

section {
  background: #fff;
  overflow: hidden;
}
/*===================================
              Content Boxes
===================================*/
.content-box-lg {
  padding: 120px 0;
}

.content-box-md {
  padding: 100px 0;
}

.content-box-sm {
  padding: 90px 0;
}


/*-----------------------------

------------------------------*/


/*-----------------------------
            Top Page
------------------------------*/
.jumbotron {
  background-color: #fff;
}
.card-body {
  padding: 0;
}

.list-unstyled li {
  color: #fff;
}
.list-unstyled li a {
  color: #fff;
}
.responsive-img {
width: 100%;
height: 100%;
}
.col-sm-2  {
  padding: 0;
}
.carousel-caption {

}
.carousel-caption h1{
  color: #000;
  text-align: center;
}
.carousel-caption p{
  color: #000;
  text-align: center;
}
.carousel-item {
  height: 100%;
}
.carousel-caption li {
text-align: center;
}
/* gravatar */
.list-unstyled .img-circle {
  border-radius: 50%;
  width: 40px;
}
/* carousel */
.carousel-item {
  position: relative;
}

.col-sm-4 .carousel-caption{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  padding: 60px;
}
/*-----------------------------
            sign_in
------------------------------*/
#sign_in-form {
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#27A6BA), to(rgba(6,229,137,0.84))) no-repeat 50% 50% / 100% 100%,url(sign_in/t-shirt.jpg);
  background: linear-gradient(180deg, #27A6BA 0%, rgba(6,229,137,0.84) 100%) no-repeat 50% 50% / 100% 100%,url(sign_in/t-shirt.jpg);
  opacity: 0.9;
  background-size: cover;
}
#sign_in-form .content-box-lg {
padding-top: 20px;
}
.btn-face-book {
  background-color: #3b5998;
  color: #fff;
  padding: 5px;
  font-size: 16px;
  border-radius: 4px;
}
.btn-facebook {
background-color: #3b5998;
border-color: #3b5998;
color: #fff;
font-size: 16px;
border-radius: 4px;
padding: 8px;
}

/* login */
#log_in-form {

  height: 1000px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(252,57,57,0.72)), to(rgba(255,0,230,0.75))) no-repeat 50% 50% / 100% 100%,url(people/p16.jpeg);
  background: linear-gradient(180deg, rgba(252,57,57,0.72) 0%, rgba(255,0,230,0.75) 100%) no-repeat 50% 50% / 100% 100%,url(people/p16.jpeg);
  opacity: 0.8;
  background-size: cover;
}
#log_in-form .content-box-lg {
padding-top: 30px;

}
/* create new */
#create-form {

  height: 1080px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(252,57,57,0.72)), to(rgba(255,0,230,0.75))) no-repeat 50% 50% / 100% 100%,url(people/p17.jpeg);
  background: linear-gradient(180deg, rgba(252,57,57,0.72) 0%, rgba(255,0,230,0.75) 100%) no-repeat 50% 50% / 100% 100%,url(people/p17.jpeg);
  opacity: 0.8;
  background-size: cover;
}
#create-form .content-box-lg {
padding-top: 30px;
}
.create-new-post h1 {
  padding: 80px 0 30px 0;
}

/* Edit */
#edit-form {

  height: 1000px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(252,57,149,0.72)), to(rgba(255,170,0,0.75))) no-repeat 50% 50% / 100% 100%;
  background: linear-gradient(360deg, rgba(252,57,149,0.72) 0%, rgba(255,170,0,0.75) 100%) no-repeat 50% 50% / 100% 100%;
  opacity: 0.8;
  background-size: cover;
}
#edit_in-form .content-box-lg {
padding-top: 20px;
}

/* create forms */
.form-s {
  background-color: #fff;
  padding: 10px 25px 50px 25px;
  -webkit-box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.6);
          box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.6);
}
.form-s h2 {
  line-height: 100px;
}
.form-s .form-control {
  height: 50px;
}
.form-s .form-check {
  -webkit-transform: translateX(70px);
          transform: translateX(70px);
  top: 18px;
}
.btn-primary {
  color: #fff;
background-color: #007bff;
border-color: #007bff;
}
.btn-info {
  background-color: #f4f4f4;
  border-color: #f4f4f4;
  color: gray;
}
/*-----------------------------
         create  pages
------------------------------*/
.create-new-post h1 {
  color: #fff;
}
.tab-content > .active {
  color: #f4f4f4;
}
.col-4 {
  top: 50%;
}

/*-----------------------------
            pages
------------------------------*/
.vertical-heading h1 {
  display: inline-block;
  padding-bottom: 70px;
  letter-spacing: 3px;
}
.snap-lists img {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding: relative;
}
.page-top-pic img {
  width: 100%;
  padding: 0;
}
.page-top-pic .col-md-12{
  padding: 0;
}
// .list-item-overlay {
//   position: absolute;
//   top: 90%;
//   bottom: 0px;
//   left: 15px;
//   right: 15px;
//   background: rgba(14, 14, 17, 0.9);
//   cursor: zoom-in;
// // opacity: 0;
// }
// /* Item Details Effect */
// .list-item-details {
//   width: 100%;
//   position: absolute;
//   top: 50%;
//   left: 0;
// }
.list-item-details h3 {
  color: #212226;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  font-weight: 100;
}
// // .list-item-details text-center:hover  .list-item-overlay {
// // opacity: 1;
// // }
/*-----------------------------
            Comment
------------------------------*/
.comment-lists {
  // border: 1px solid;
}
.comment-lists ul {
  list-style: none;
  text-align: left;
}
.comment-lists .form-control {
  display: inline-block;
  width: 70%;
}

/*-----------------------------
            Posts page
------------------------------*/
/* Vertical heading */
.horizontal-heading h1 {
  font-size: 65px;
font-weight: 100;
padding: 100px 0 30px 0;
text-align: center;
font-weight: 900;
letter-spacing: 2px;
}
.top-title h3 {
  line-height: 20px;
  padding: 45px 0 45px 0;
  font-size: 40px;
  letter-spacing: 10px;
}
.card {
  width: 800px;
}
.card img {
vertical-align: middle;
border-style: none;
max-height: 100%;
max-width: 100%;
-webkit-transform: translateX(0px);
        transform: translateX(0px);
}
/* Top Title */
.photo-title h3 {
  display: inline-block;
  font-size: 35px;
  // border-bottom: 2px solid #000;
}
.photo-title h2 {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 2px;
}

/* Listing */
.list-group li  {
  border-right: 0;
border-left: 0;
font-family: 'Quicksand', sans-serif;
border-radius: 0;
font-size: 18px;
font-weight: 500;
}

.pillar{
    height: 100%;
}
/* Editing post */
#sign_in-form .content-box-lg {
padding-top: 50px;
padding-bottom:  50px;
}

/* like */
a{font-size:12px; font-weight:bold; margin-top:10px; display:inline-block; text-decoration:none; color:#008A68;}

svg{
  cursor:pointer; overflow:visible; width:60px;
  #heart{-webkit-transform-origin:center;transform-origin:center; -webkit-animation:animateHeartOut .3s linear forwards; animation:animateHeartOut .3s linear forwards;}
  #main-circ{-webkit-transform-origin:29.5px 29.5px;transform-origin:29.5px 29.5px;}
}

#checkbox{display:none;}

#checkbox:checked + label svg{
    #heart{-webkit-transform:scale(.2);transform:scale(.2); fill:#E2264D; -webkit-animation:animateHeart .3s linear forwards .25s; animation:animateHeart .3s linear forwards .25s;}
    #main-circ{-webkit-transition:all 2s;transition:all 2s; -webkit-animation:animateCircle .3s linear forwards; animation:animateCircle .3s linear forwards; opacity:1;}
    #grp1{
      opacity:1; -webkit-transition:.1s all .3s; transition:.1s all .3s;
      #oval1{
        -webkit-transform:scale(0) translate(0, -30px);
                transform:scale(0) translate(0, -30px);
        -webkit-transform-origin:0 0 0;
                transform-origin:0 0 0;
        -webkit-transition:.5s transform .3s;
        transition:.5s transform .3s;}
      #oval2{
        -webkit-transform:scale(0) translate(10px, -50px);
                transform:scale(0) translate(10px, -50px);
        -webkit-transform-origin:0 0 0;
                transform-origin:0 0 0;
        -webkit-transition:1.5s -webkit-transform .3s;
        transition:1.5s -webkit-transform .3s;
        transition:1.5s transform .3s;
        transition:1.5s transform .3s, 1.5s -webkit-transform .3s;}
    }
    #grp2{
      opacity:1; -webkit-transition:.1s all .3s; transition:.1s all .3s;
      #oval1{
        -webkit-transform:scale(0) translate(30px, -15px);
                transform:scale(0) translate(30px, -15px);
        -webkit-transform-origin:0 0 0;
                transform-origin:0 0 0;
        -webkit-transition:.5s transform .3s;
        transition:.5s transform .3s;}
      #oval2{
        -webkit-transform:scale(0) translate(60px, -15px);
                transform:scale(0) translate(60px, -15px);
        -webkit-transform-origin:0 0 0;
                transform-origin:0 0 0;
        -webkit-transition:1.5s -webkit-transform .3s;
        transition:1.5s -webkit-transform .3s;
        transition:1.5s transform .3s;
        transition:1.5s transform .3s, 1.5s -webkit-transform .3s;}
    }
    #grp3{
      opacity:1; -webkit-transition:.1s all .3s; transition:.1s all .3s;
      #oval1{
        -webkit-transform:scale(0) translate(30px, 0px);
                transform:scale(0) translate(30px, 0px);
        -webkit-transform-origin:0 0 0;
                transform-origin:0 0 0;
        -webkit-transition:.5s transform .3s;
        transition:.5s transform .3s;}
      #oval2{
        -webkit-transform:scale(0) translate(60px, 10px);
                transform:scale(0) translate(60px, 10px);
        -webkit-transform-origin:0 0 0;
                transform-origin:0 0 0;
        -webkit-transition:1.5s -webkit-transform .3s;
        transition:1.5s -webkit-transform .3s;
        transition:1.5s transform .3s;
        transition:1.5s transform .3s, 1.5s -webkit-transform .3s;}
    }
    #grp4{
      opacity:1; -webkit-transition:.1s all .3s; transition:.1s all .3s;
      #oval1{
        -webkit-transform:scale(0) translate(30px, 15px);
                transform:scale(0) translate(30px, 15px);
        -webkit-transform-origin:0 0 0;
                transform-origin:0 0 0;
        -webkit-transition:.5s transform .3s;
        transition:.5s transform .3s;}
      #oval2{
        -webkit-transform:scale(0) translate(40px, 50px);
                transform:scale(0) translate(40px, 50px);
        -webkit-transform-origin:0 0 0;
                transform-origin:0 0 0;
        -webkit-transition:1.5s -webkit-transform .3s;
        transition:1.5s -webkit-transform .3s;
        transition:1.5s transform .3s;
        transition:1.5s transform .3s, 1.5s -webkit-transform .3s;}
    }
    #grp5{
      opacity:1; -webkit-transition:.1s all .3s; transition:.1s all .3s;
      #oval1{
        -webkit-transform:scale(0) translate(-10px, 20px);
                transform:scale(0) translate(-10px, 20px);
        -webkit-transform-origin:0 0 0;
                transform-origin:0 0 0;
        -webkit-transition:.5s transform .3s;
        transition:.5s transform .3s;}
      #oval2{
        -webkit-transform:scale(0) translate(-60px, 30px);
                transform:scale(0) translate(-60px, 30px);
        -webkit-transform-origin:0 0 0;
                transform-origin:0 0 0;
        -webkit-transition:1.5s -webkit-transform .3s;
        transition:1.5s -webkit-transform .3s;
        transition:1.5s transform .3s;
        transition:1.5s transform .3s, 1.5s -webkit-transform .3s;}
    }
    #grp6{
      opacity:1; -webkit-transition:.1s all .3s; transition:.1s all .3s;
      #oval1{
        -webkit-transform:scale(0) translate(-30px, 0px);
                transform:scale(0) translate(-30px, 0px);
        -webkit-transform-origin:0 0 0;
                transform-origin:0 0 0;
        -webkit-transition:.5s transform .3s;
        transition:.5s transform .3s;}
      #oval2{
        -webkit-transform:scale(0) translate(-60px, -5px);
                transform:scale(0) translate(-60px, -5px);
        -webkit-transform-origin:0 0 0;
                transform-origin:0 0 0;
        -webkit-transition:1.5s -webkit-transform .3s;
        transition:1.5s -webkit-transform .3s;
        transition:1.5s transform .3s;
        transition:1.5s transform .3s, 1.5s -webkit-transform .3s;}
    }
    #grp7{
      opacity:1; -webkit-transition:.1s all .3s; transition:.1s all .3s;
      #oval1{
        -webkit-transform:scale(0) translate(-30px, -15px);
                transform:scale(0) translate(-30px, -15px);
        -webkit-transform-origin:0 0 0;
                transform-origin:0 0 0;
        -webkit-transition:.5s transform .3s;
        transition:.5s transform .3s;}
      #oval2{
        -webkit-transform:scale(0) translate(-55px, -30px);
                transform:scale(0) translate(-55px, -30px);
        -webkit-transform-origin:0 0 0;
                transform-origin:0 0 0;
        -webkit-transition:1.5s -webkit-transform .3s;
        transition:1.5s -webkit-transform .3s;
        transition:1.5s transform .3s;
        transition:1.5s transform .3s, 1.5s -webkit-transform .3s;}
    }
    #grp2{opacity:1; -webkit-transition:.1s opacity .3s; transition:.1s opacity .3s;}
    #grp3{opacity:1; -webkit-transition:.1s opacity .3s; transition:.1s opacity .3s;}
    #grp4{opacity:1; -webkit-transition:.1s opacity .3s; transition:.1s opacity .3s;}
    #grp5{opacity:1; -webkit-transition:.1s opacity .3s; transition:.1s opacity .3s;}
    #grp6{opacity:1; -webkit-transition:.1s opacity .3s; transition:.1s opacity .3s;}
    #grp7{opacity:1; -webkit-transition:.1s opacity .3s; transition:.1s opacity .3s;}
}

@-webkit-keyframes animateCircle{
  40%{-webkit-transform:scale(10);transform:scale(10); opacity:1; fill:#DD4688;}
  55%{-webkit-transform:scale(11);transform:scale(11); opacity:1; fill:#D46ABF;}
  65%{-webkit-transform:scale(12);transform:scale(12); opacity:1; fill:#CC8EF5;}
  75%{-webkit-transform:scale(13);transform:scale(13); opacity:1; fill:transparent; stroke:#CC8EF5; stroke-width:.5;}
  85%{-webkit-transform:scale(17);transform:scale(17); opacity:1; fill:transparent; stroke:#CC8EF5; stroke-width:.2;}
  95%{-webkit-transform:scale(18);transform:scale(18); opacity:1; fill:transparent; stroke:#CC8EF5; stroke-width:.1;}
  100%{-webkit-transform:scale(19);transform:scale(19); opacity:1; fill:transparent; stroke:#CC8EF5; stroke-width:0;}
}

@keyframes animateCircle{
  40%{-webkit-transform:scale(10);transform:scale(10); opacity:1; fill:#DD4688;}
  55%{-webkit-transform:scale(11);transform:scale(11); opacity:1; fill:#D46ABF;}
  65%{-webkit-transform:scale(12);transform:scale(12); opacity:1; fill:#CC8EF5;}
  75%{-webkit-transform:scale(13);transform:scale(13); opacity:1; fill:transparent; stroke:#CC8EF5; stroke-width:.5;}
  85%{-webkit-transform:scale(17);transform:scale(17); opacity:1; fill:transparent; stroke:#CC8EF5; stroke-width:.2;}
  95%{-webkit-transform:scale(18);transform:scale(18); opacity:1; fill:transparent; stroke:#CC8EF5; stroke-width:.1;}
  100%{-webkit-transform:scale(19);transform:scale(19); opacity:1; fill:transparent; stroke:#CC8EF5; stroke-width:0;}
}

@-webkit-keyframes animateHeart{
  0%{-webkit-transform:scale(.2);transform:scale(.2);}
  40%{-webkit-transform:scale(1.2);transform:scale(1.2);}
  100%{-webkit-transform:scale(1);transform:scale(1);}
}

@keyframes animateHeart{
  0%{-webkit-transform:scale(.2);transform:scale(.2);}
  40%{-webkit-transform:scale(1.2);transform:scale(1.2);}
  100%{-webkit-transform:scale(1);transform:scale(1);}
}

@-webkit-keyframes animateHeartOut{
  0%{-webkit-transform:scale(1.4);transform:scale(1.4);}
  100%{-webkit-transform:scale(1);transform:scale(1);}
}

@keyframes animateHeartOut{
  0%{-webkit-transform:scale(1.4);transform:scale(1.4);}
  100%{-webkit-transform:scale(1);transform:scale(1);}
}
/*-----------------------------
            Footer
------------------------------*/
footer {
  background-color: #000;
  margin-bottom: 0;
}
footer p {
  margin-bottom: 0;
}
.box-form {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	width: 200px;
	margin: auto;
}
