@import "bootstrap";
@import "toastr";
/*===================================
  Default Theme
  -----------------------------------
  Fonts: Raleway & Open Sans
  -----------------------------------
  Colors:
      Moon Yellow:        #f4c613
      Gray:               #212226
      white Smoke:        #f4f4f4
      white:              #fff
      Black:              #000
      Dark gray :         #36353c;
===================================*/
/*===================================
              Html, body
===================================*/
html, body {
  height: 100%;
}

body {
  color: #212226;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

section {
  background: #fff;
  overflow: hidden;
}
/*===================================
              Content Boxes
===================================*/
// .content-box-lg {
//   padding: 120px 0;
// }
//
// .content-box-md {
//   padding: 100px 0;
// }
//
// .content-box-sm {
//   padding: 90px 0;
// }


/*-----------------------------
            Top Page
------------------------------*/
.jumbotron {
  background-color: #fff;
}
.card-body {
  padding: 0;
}

.list-unstyled li {
  color: #fff;
}
.list-unstyled li a {
  color: #fff;
}
.responsive-img {
width: 100%;
height: 100%;
}
.col-sm-2  {
  padding: 0;
}
.carousel-caption {

}
.carousel-caption h1{
  color: #000;
  text-align: center;
}
.carousel-caption p{
  color: #000;
  text-align: center;
}
.carousel-item {
  height: 100%;
}
.carousel-caption li {
text-align: center;
}
/* gravatar */
.list-unstyled .img-circle {
  border-radius: 50%;
  width: 40px;
}
/* carousel */
.carousel-item {
  position: relative;
}

.col-sm-4 .carousel-caption{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  padding: 60px;
}
/*-----------------------------
            sign_in
------------------------------*/
#sign_in-form {
  height: 100%;
  background: linear-gradient(180deg, #27A6BA 0%, rgba(6,229,137,0.84) 100%) no-repeat 50% 50% / 100% 100%;
  opacity: 0.8;
  background-size: cover;
}
#sign_in-form .content-box-lg {
padding-top: 20px;
}

/* login */
#log_in-form {

  height: 100%;
  background: linear-gradient(180deg, rgba(252,57,57,0.72) 0%, rgba(255,0,230,0.75) 100%) no-repeat 50% 50% / 100% 100%;
  opacity: 0.8;
  background-size: cover;
}
#log_in-form .content-box-lg {
padding-top: 20px;
}

/* Edit */
#edit_in-form {

  height: 100%;
  background: linear-gradient(360deg, rgba(252,57,149,0.72) 0%, rgba(255,170,0,0.75) 100%) no-repeat 50% 50% / 100% 100%;
  opacity: 0.8;
  background-size: cover;
}
#edit_in-form .content-box-lg {
padding-top: 20px;
}

/* forms */
.form-s {
  background-color: #fff;
  padding: 10px 25px 120px 25px;
  box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.6);
}
.form-s h2 {
  line-height: 100px;
}
.form-s .form-control {
  height: 50px;
}
.form-s .form-check {
  transform: translateX(70px);
  top: 18px;
}
.btn-primary {
  color: #fff;
background-color: #007bff;
border-color: #007bff;
}

/*-----------------------------
            Footer
------------------------------*/
footer {
  background-color: #000;
  margin-bottom: 0;
}
footer p {
  margin-bottom: 0;
}
.box-form {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	width: 200px;
	margin: auto;
}
